/*
font-family: 'Lora', serif;
font-family: 'Raleway', sans-serif;
*/
:root {
    --text-color: rgb(22, 22, 22);
    --primary-color-100: #1D9FC7;
    --primary-color-200: #065F7A;
    --secondary-color-100: #C7B90A;
    --secondary-color-200: #7A720C;
    --action-color: #C7325D;
    --overlay-color: rgba(0,0,0,0.7);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Raleway', sans-serif;
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    border-bottom: 1px solid grey;
}

/* Nav Bar */
nav .container ul {
    display: flex;
}

nav .container ul a {
    padding: 0 10px;
    color: var(--text-color);
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}

nav .container ul a:hover,
nav .container ul a:focus {
    border-bottom: 1px solid var(--primary-color-100);
}

nav .container ul a.btn,
nav .container ul a.btn:visited {
    text-decoration: none;
    font-weight: 700;
    color: #f6f6f6;
    background-color: var(--action-color);
    padding: 1em 2em !important;
    margin-left: 10px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    cursor: pointer;
    border: 1px solid var(--action-color);
    transition: background-color 200ms ease-in;
}
nav .container ul a.btn:hover { 
    background-color: #86233f;
}

/* Hero Section */
.main {
    background-image: url("/images/hero_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 81px);
    width: 100%;
    position: relative;
    z-index: 1;
}

.main .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: -1;
}

.main .container {
    height: 100%;
    flex-direction: column;
    color: #f6f6f6;
    align-items: center;
    justify-content: center;
}

.main .container h1 {
    font-family: "Lora", sans-serif;
    font-style: italic;
    font-size: 5rem;
}
.main .container h1 span {
    color: var(--secondary-color-100);
}

.main .container p {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-family: "Lora", sans-serif;
    color: #e0e0e0;
    margin-bottom: 3rem;
}

.btn-quote {
    background-color: var(--secondary-color-100);
    padding: 1em 2em;
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.4px;
    color: var(--text-color);
    box-shadow: -15px 15px 1px 1px var(--action-color);
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.btn-quote:hover {
    background-color: var(--action-color);
    box-shadow: 15px -15px 1px 1px var(--secondary-color-100);
    color: #f6f6f6;
}

/* Services Section */
.services {
    background-color: #a9c5ce;
}
.services img {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.services .container {
    margin: auto;
    align-items: flex-start;
}
.services .container div {
    flex-basis: 0;
    flex-grow: 1;
}
.services .container div:nth-child(2) {
    margin: 0 10px;
}

.services .container div p {
    line-height: 1.5;
}

/* Subscribe Section */
.subscribe {
    background-image: url("/images/subscribe_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 200px 0;
    z-index: 1;
    position: relative;
}

.subscribe .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    z-index: -1;
}

.subscribe .container {
    color: #f6f6f6;
    flex-direction: column;
    text-align: center;
}

.subscribe .container h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
}
.subscribe .container h3 span {
    color: var(--secondary-color-100);
}

.form-control {
    display: inline-block;
    width: 100%;
    margin: 2rem auto;
}

.form-control input[type=email] {
    outline: none;
    border: none;
    padding: 1em;
    width: 300px;
}

.form-control button {
    border: none;
    outline: none;
    background-color: var(--action-color);
    padding: 1em 2em;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #f6f6f6;
    cursor: pointer;
}
.form-control button:hover {
    background-color: #86233f;
}

/* Solutions Section */
#solutions {
    background-color: #a9c5ce;
    height: 100vh;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}

#solutions .container {
    flex-direction: column;
    height: 100%;
}

.solutions {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.solutions .card {
    flex-basis: 0;
    flex-grow: 1;
    padding: 2rem;
    background-color: #d1e3e9;
}

.solutions .card h3 {
    font-family: 'Lora', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #034153;
}

.solutions .card p {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
    margin-bottom: 50px;
}

.solutions .card:nth-child(2) {
    margin: 0 30px;
}

.solutions .card .read-more-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1em 2em;
    background-color: var(--action-color);
    color: #f6f6f6;
    font-weight: bold;

    text-decoration: none;
    letter-spacing: 2px;
}
.solutions .card .read-more-btn:hover {
    background-color: #86233f;
}

#solutions .container .btn-quote {
    margin-bottom: 100px;
}

/* Footer section */
footer {
    height: 300px;
    background-color: var(--text-color);
    color: #f6f6f6;
}
footer .container {
    height: 100%;
}

footer .container div {
    flex-basis: 0;
    flex-grow: 1;
    padding: 0 10px;
}
footer .container div:nth-child(2) {
    text-align: center;
}
footer .container div:nth-child(3) {
    text-align: right;
}

footer .container div h4 {
    font-size: 1.6rem;
    font-family: "Lora", sans-serif;
    margin-bottom: 1rem;
}
footer .container div p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #b6b6b6;
}

footer .container div .social-links {
    width: 100%;
    text-align: left;
    padding: 0;
}

footer .container div .social-links a {
    display: inline-block;
    color: var(--secondary-color-100);
    width: 40px;
    height: 40px;
    border: 2px solid var(--secondary-color-100);
    margin-right:5px;
}
footer .container div .social-links a:hover {
    background-color: var(--secondary-color-100);
    color: var(--text-color);
}

.social-links a i {
    font-size: 1.5rem;
    height: 100%;
    width: 100%;
    transform: translateY(16%);
    text-align: center;
}

.footer-form {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
}

.footer-form input[type=email] {
    border: none;
    outline: none;
    color: #f6f6f6;
    font-family: inherit;
    height: 40px;
    width: 100%;
    padding: 0 1rem;
    background-color:  rgb(49, 49, 49);
}

.footer-form button {
    display: inline-block;
    width: 60px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--secondary-color-100);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
}
.footer-form button:hover {
    background-color: var(--secondary-color-200);
}

footer .container div .contact-btn {
    display: inline-block;
    background-color: var(--action-color);
    padding: 10px 15px;
    color: #f6f6f6;
    text-decoration: none;
    transition: all 150ms ease-in-out;
    font-weight: bold;
    letter-spacing: 1.3px;
    cursor: pointer;
}

footer .container div .contact-btn:hover {
    background-color: #f6f6f6;
    color: var(--action-color);
}

footer .pixel-footer {
    width: 100%;
    padding: 2rem 1rem;
    background-color: rgb(49, 49, 49);
    color: #f6f6f6;
    text-align: center;
}

footer .pixel-footer a {
    display: block;
    margin-top: 10px;
    color: rgb(0, 160, 99);
    font-size: 1.5rem;
    text-decoration: none;
}
footer .pixel-footer a:hover {
    color: rgb(0, 221, 136);
}
footer .pixel-footer a span {
    font-weight: bold;
}

/* Responsive Styles */
@media (max-width: 1200px) {
    .services img{
     padding-top: 0;
     padding-bottom: 1rem;
    }

    .services .container div {
        padding: 5rem 0;
    }
}

@media (max-width: 900px) {
    .services .container {
        flex-direction: column;
        align-items: center;
    }
    .services .container div {
        width: 100%;
        padding: 1rem 0;
    }

    .services .container div:first-of-type {
        display: none;
    }

    #solutions {
        height: auto;
    }

    #solutions .container .solutions {
        flex-direction: column;
    }

    .solutions .card {
        width: 100%;
        margin: 3rem auto;
    }
}

@media (max-width: 800px) {
    nav .container ul li:nth-child(1),
    nav .container ul li:nth-child(2) {
        display: none;
    }   

    .main .container h1 {
        text-align: center;
    }

    footer .container div:nth-child(2) {
        display: none;
    }
}

@media (max-width: 560px) {
    nav .container {
        flex-direction: column;
        margin-bottom: 10px;
    }
    nav .container ul a.btn {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    .main .container h1 {
        font-size: 3rem;
    }
    
    .subscribe .container h3 {
        font-size: 2rem;
    }

    .form-control input[type=email] {
        width: 100%;
        margin-bottom: 20px;
    }
    .form-control button {
        width: 100%;
    }
    footer {
        height: 100%;
    }
    footer .container {
        flex-direction: column;
        text-align: center;
        padding: 1rem 0;
        height: 100%;
    }
    footer .container div {
        margin: 1rem auto;
    }
    footer .container div .social-links {
        text-align: center;
    }
    footer .container div:nth-child(3) {
        text-align: center;
    }
    footer .container div .contact-btn {
        width: 100%;
    }
}

/* Adding animation */
[data-scroll] {
    transition: all 0.6s;
    position: relative;
  }
  [data-scroll="in"] {
    opacity: 1;
    transform: translateY(0px);
  }
  [data-scroll="out"] {
    opacity: 0;
    transform: translateY(200px);
  }

  .alertBtn {
      cursor: pointer;
  }